body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-right: 0!important; 
    padding-left: 0!important; 
}

select,
textarea,
input[type="text"] {
    width: 100%;
}

.form-group {
    width: 100% !important;
    margin: 0 !important;
}

.pageloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../Content/images/loader48.gif') 50% 50% no-repeat rgb(24,187,249);
}

/*--------------------------------------- setup pages*/

.intro-main-container,
.intro-main-container .row,
.intro-main-container .row .col-12 {
    margin: 0 !important;
    padding: 0 !important;
}

.intro-main-container {
    height: 100vh;
    background-color: rgb(36, 51, 67) !important;
}

.intro-nv-logo {
    width: 40px;
    height: 40px;
    transition: all 0.8s;
    margin-bottom: 15px !important;
}

.intro-header,
.intro-mini-text {
    font-weight: 300;
    text-align: center !important;
    transition: all 0.8s;
}

.intro-header {
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 1.2;
    color: rgb(40, 167, 69) !important;
}

.intro-mini-text {
    font-size: 1.4rem;
    color: rgb(248, 249, 250) !important;
}

.intro-slogan-text {
    color: #f8f9fa !important;
    font-style: italic !important;
    font-weight: 300 !important;
    text-align: center !important;
}

.title-container {
    margin-top: -520px !important;
}


.register-link,
.register-link:active {
    color: rgb(30, 161, 220);
    text-decoration: none !important;
}

.register-link:focus,
.register-link:hover {
    color: rgb(30, 161, 240);
}

.register-link:visited {
    color: rgb(30, 181, 240);
}

a.font-weight-normal.text-center.register-link:hover {
    color: rgb(10,190,248);
}

.btn-resized {
    Width: 180px;
    font-size: 1rem;
    max-width: 300px !important;
}

.inner-control-container {
    border: solid 1px rgb(225, 225, 225);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.inner-control-container .form-control {
    line-height: 0.5;
    padding: 0 10px!important;
    border: none!important;
    font-size: 0.8rem;
    border-radius: 0 0 5px 5px!important;
}

.inner-control-container .form-control:focus {
    box-shadow: none !important;
}

.inner-control-container label {
    font-size: 0.7rem !important;
    display: inline-block;
    margin: 0 !important;
    font-weight: 600;
    padding: 0 12px !important;
}

.inner-control-container input:-internal-autofill-selected {
    background-color: transparent!important;
    background-image: none !important;
    color: -internal-light-dark-color(black, white) !important;
}

.header-span {
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}

/*--------------------------------------- end setup pages*/

/*--------------------------------------- Small devices (landscape phones, 576px and up)*/ 
@media (min-width: 576px) {
    
    .intro-header {
        font-size: 1.9rem;
        line-height: 1.2;
    }

    .intro-nv-logo {
        width: 40px;
        height: 40px;
        margin-bottom: 20px !important;
    }

    .intro-mini-text {
        font-size: 1.9rem;
        line-height: 1.2;
    }

    .header-span {
        font-size: 2rem;
    }

    .pageloader {
        background: url('../../Content/images/loader68.gif') 50% 50% no-repeat rgb(24,187,249);
    }
}

/*--------------------------------------- end small devices*/

/*--------------------------------------- Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    p.intro-header {
        font-size: 2.2rem !important;
        line-height: 1.2 !important;
    }

    img.intro-nv-logo {
        width: 40px !important;
        height: 40px !important;
        margin-bottom: 18px !important;
    }

    p.intro-mini-text {
        font-size: 2.5rem !important;
    }
    p.intro-slogan-text {
        font-size: 1rem !important;
    }

    .header-span {
        font-size: 2.5rem;
    }

    .pageloader {
        background: url('../../Content/images/loader128.gif') 50% 50% no-repeat rgb(24,187,249);
    }
}

/*--------------------------------------- end medium devices*/

/*--------------------------------------- Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    p.intro-header {
        font-size: 2.6rem !important;
        line-height: 1.2 !important;
    }

    img.intro-nv-logo {
        width: 50px !important;
        height: 50px !important;
        margin-bottom: 20px !important;
    }

    p.intro-mini-text {
        font-size: 2.5rem !important;
    }

    p.intro-slogan-text {
        font-size: 1.3rem !important;
    }

    .header-span {
        font-size: 2.5rem;
    }

    .pageloader {
        background: url('../../Content/images/loader150.gif') 50% 50% no-repeat rgb(24,187,249);
    }
}
/*--------------------------------------- end large devices*/

/*--------------------------------------- Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    p.intro-header {
        font-size: 3rem !important;
        line-height: 1.2 !important;
    }

    img.intro-nv-logo {
        width: 60px!important;
        height: 60px!important;
        margin-bottom: 28px!important;
    }

    p.intro-mini-text {
        font-size: 3rem !important;
    }

    .pageloader {
        background: url('../../Content/images/loader256.gif') 50% 50% no-repeat rgb(24,187,249);
    }

}
/*--------------------------------------- end extra large devices*/

/*--------------------------------------- animations*/

/*--------------------------------------- end animations*/

