body {
    margin: 0;
    padding: 0;
}

select,
textarea,
input[type="text"] {
    width: 100%;
    max-width: 90%;
}

.form-group {
    width: 100% !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 0 !important;
}

.control-label {
    padding-top: 2px;
    font-size: 1.05rem;
    color:rgb(120,120,120)
}

#idmain.custom-control-label::before {
    margin-left: 20px;
}

#idmain.custom-control-label::after {
    margin-left: 20px;
}

#idparent.custom-control-label {
    padding-left: 30px!important;
}

#idparent.custom-control-label::before {
    margin-left: 35px;
}

#idparent.custom-control-label::after {
    margin-left: 35px;
}

.btn {
    min-width: 120px;
}

